# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.history

# Node modules & Environment
node_modules/
.env
.env.local

# Flutter & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
/mobile_app/build/
mobile_app/.dart_tool/
mobile_app/.pub/
mobile_app/.flutter-plugins-dependencies

# Android Studio / Gradle
.gradle/
local.properties
/mobile_app/android/.gradle/
/mobile_app/android/local.properties

# VS Code / IDE
.idea/
*.iml
